## Define macros ##
[attr]lock filter=lfs diff=lfs merge=binary -text lockable
[attr]lockonly lockable
[attr]lfs filter=lfs diff=lfs merge=binary -text
[attr]lfstext filter=lfs diff=lfstext merge=lfstext -text

## Unreal Engine ##
## Auto detect text files and perform LF normalization ##

* text=auto

# UE file types
*.uasset lock
*.umap lock
*.udk lfs
*.upk lfs
*.upipelinecache lfs
*.spc lfs
*.shk lfs

#--------------------------------------------------

# 2D formats
# Read more in: https://docs.unrealengine.com/4.26/en-US/RenderingAndGraphics/Textures/Importing/

# Recommended use:
*.[tT][gG][aA] lfs
*.[pP][nN][gG] lfs
*.[bB][mM][pP] lfs

# Can also be used:
*.[fF][lL][oO][aA][tT] lfs
*.[jJ][pP][eE][gG] lfs
*.[jJ][pP][gG] lfs
*.[pP][cC][xX] lfs
*.[pP][sS][dD] lfs
*.[xX][cC][fF] lfs
*.[tT][iI][fF] lfs
*.[tT][iI][fF][fF] lfs

# Other supported formats:
*.[hH][dD][rR] lfs
*.[dD][dD][sS] lfs
*.[eE][xX][rR] lfs

#--------------------------------------------------

# 3D formats

# Always recommended to use:
# The UE4 FBX import pipeline uses FBX 2018
*.[fF][bB][xX] lfs

# Can also be used:
*.[oO][bB][jJ] lfs

# Other supported formats:
*.[aA][bB][cC] lfs
*.[sS][rR][tT] lfs

#--------------------------------------------------

# Audio formats
# Read more in: https://docs.unrealengine.com/4.27/en-US/WorkingWithAudio/Overview/#:~:text=Unreal%20Engine%204%20(UE4)%20supports,16%2Dbit%20format%20PCM%20files.

# Always recommended to use:
*.[wW][aA][vV] lfs

# Can also be used:
*.[aA][iI][fF][fF] lfs
*.[oO][gG][gG] lfs
*.[fF][lL][aA][cC] lfs

# Not recommended to use, but supported:
*.[mM][pP]3 lfs
*.[wW][mM][aA] lfs
*.[aA][cC]3 lfs
*.[aA][mM][rR] lfs
*.[aA][iI][fF] lfs
*.[aA][uU] lfs
*.[cC][dD][dD][aA] lfs
*.[cC][aA][fF] lfs
*.[bB][wW][fF] lfs
*.[aA][dD][tT][sS] lfs

#--------------------------------------------------

# Video formats
# Read more in: https://docs.unrealengine.com/5.0/en-US/media-framework-technical-reference-for-unreal-engine/

# Always recommended to use, supports all platforms:
# For the best compatibility and performance, it is recommended to use H.264 encoded MP4 (.mp4) container files.
*.[mM][pP]4 lfs

# Can also be used, only some platforms are supported:
*.3[gG]2 lfs
*.3[gG][pP] lfs
*.3[gG][pP]2 lfs
*.3[gG][pP][pP] lfs
*.[mM]4[aA] lfs
*.[mM]4[vV] lfs
*.[mM][o][vV] lfs
*.[aA][sS][fF] lfs
*.[aA][vV][iI] lfs
*.[wW][mM][vV] lfs

#--------------------------------------------------

# Fonts
# Read more in: https://docs.unrealengine.com/5.0/en-US/importing-fonts-in-unreal-engine/

*.[tT][tT][fF] lfs
*.[oO][tT][fF] lfs

#--------------------------------------------------

# Documents
*.[cC][sS][vV] lfstext

# This is optional, to store information you want to share in the repository as documentation about the project, remove it if you don't need it.
*.[pP][dD][fF] lfs